@model LabPerformance.Models.Student

@{
    ViewBag.Title = "Student";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="cotainer">
    <h1>Persons</h1>
    <table class="table table-condensed">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Dob</th>
            <th>Credit</th>
            <th>CGPA</th>
            <th>Dept_ID</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.ID</td>
            <td>@Model.DOB</td>
            <td>@Model.Credit</td>
            <td>@Model.Credit</td>
            <td>@Model.Dept_ID</td>
            <td><a href="/Person/Edit" class="btn btn-default">Edit</a></td>
            <td><a href="/Person/Delete" class="btn btn-danger">Delete</a></td>

        </tr>
      
    </table>
</div>
